<!-- sidebar.component.html -->
<!-- <aside class="sidebar">
  <nav>
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li>
        <a routerLink="/overview" routerLinkActive="active">Overview</a>
      </li>
      <li>
        <a routerLink="/appointment-details" routerLinkActive="active"
          >Appointments</a
        >
      </li>
    </ul>
  </nav>
</aside> -->
<!-- sidebar.component.html -->
<aside class="sidebar">
  <nav>
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <mat-icon>dashboard</mat-icon> Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/overview" routerLinkActive="active">
          <mat-icon>assessment</mat-icon> Overview
        </a>
      </li>
      <li>
        <a routerLink="/appointment-details" routerLinkActive="active">
          <mat-icon>event</mat-icon> Appointments
        </a>
      </li>
    </ul>
  </nav>
</aside>
