<div class="header">
  <h1 mat-dialog-title>Appointment Details</h1>
  <button mat-icon-button mat-dialog-close class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content class="appointment-details">
  <div class="row">
    <div class="column">
      <p><strong>Inviter:</strong> {{ data.inviter }}</p>
      <p><strong>Contact:</strong> {{ data.contact }}</p>
      <p><strong>No's of Visitors:</strong> {{ data.visitors }}</p>
    </div>
    <div class="column">
      <p><strong>Priority:</strong> {{ data.priority }}</p>
      <p><strong>Date:</strong> {{ data.date }}</p>
      <p><strong>Time:</strong> {{ data.time }}</p>
      <p><strong>Scheduler:</strong> {{ data.scheduler }}</p>
    </div>
  </div>
  <p><strong>Venue:</strong> {{ data.venue }}</p>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button
    mat-button
    color="primary"
    class="view-button"
    (click)="openReschedule()"
  >
    View
  </button>
</div>
